{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <h2 class="mb-4">{{ "Редактировать медиафайл" if media is defined and media.id else "Добавить новый медиафайл" }}</h2>

    <!-- Форма для редактирования или добавления медиа -->
    <form action="{{ url_for('edit_media', media_id=media.id) if media is defined and media.id else url_for('new_media') }}" method="post" enctype="multipart/form-data">
        <!-- Поле ввода для тегов -->
        <div class="form-group">
            <label for="tags">Теги:</label>
            <input type="text" class="form-control" id="tags" name="tags" value="{{ media.tags if media is defined else '' }}" placeholder="Введите теги" class="form-control">
        </div>
        {% if media is defined and media.id %}
        <!-- Блок для отображения текущего файла при редактировании -->
        <div class="form-group">
            <label>Текущий файл:</label>
            <p class="form-control-static">{{ media.filename }}</p>
        </div>
        {% else %}
        <!-- Поле для загрузки файла при добавлении нового медиа -->
        <div class="form-group">
            <label for="media">Медиафайл:</label>
            <input type="file" class="form-control-file" id="media" name="media" required accept=".mp4, .avi, .mp3">
        </div>
        {% endif %}
        <!-- Кнопки для отправки формы -->
        <button type="submit" class="btn btn-primary">{{ "Сохранить изменения" if media is defined and media.id else "Загрузить" }}</button>
    </form>
    <!-- Кнопка возврата -->
    <form action="{{ url_for('media_player') }}" method="get" class="mt-2">
        <button type="submit" class="btn btn-secondary">Назад</button>
    </form>
</div>
{% endblock %}

