{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <h2 class="mb-4">{{ "Редактировать" if event is defined and event.id else "Создать новое" }} событие</h2>

    <form method="post">
        <!-- Выбор расписания -->
        <div class="form-group">
            <label for="schedule">Расписание:</label>
            <select id="schedule" name="schedule_id" class="form-control">
                {% for schedule in schedules %}
                <option value="{{ schedule.id }}">{{ schedule.name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Выбор медиафайла -->
        <div class="form-group">
            <label for="media">Медиафайл:</label>
            <select id="media" name="media_id" class="form-control">
                {% for media in media_files %}
                <option value="{{ media.id }}">{{ media.title }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Время начала события -->
        <div class="form-group">
            <label for="start_time">Время начала:</label>
            <input type="datetime-local" class="form-control" id="start_time" name="start_time" required>
        </div>
        <!-- Время окончания события -->
        <div class="form-group">
            <label for="end_time">Время окончания:</label>
            <input type="datetime-local" class="form-control" id="end_time" name="end_time" required>
        </div>
        <!-- Кнопки для отправки формы -->
        <button type="submit" class="btn {{ "btn-info" if event.id else "btn-success" }} mb-3">{{ "Обновить" if event.id else "Создать" }}</button>
    </form>
    <!-- Кнопка возврата на предыдущую страницу -->
    <form action="{{ url_for('super_admin_page') }}" method="get">
        <button type="submit" class="btn btn-secondary">Назад</button>
    </form>
</div>
{% endblock %}

