{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages(category_filter=["error"]) %}
<div class="alert alert-warning" role="alert">
    {{ message }}
</div>
{% endfor %}

<h2>{{ "Редактировать" if schedule.id else "Создать новое" }} расписание</h2>
<form method="post">
    <div>
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" value="{{ schedule.name if schedule else '' }}" required>
    </div>
    <div>
        <label for="description">Описание:</label>
        <textarea id="description" name="description" required>{{ schedule.description if schedule else '' }}</textarea>
    </div>
    <div>
        <label for="type">Тип расписания:</label>
        <select id="scheduleType" name="type">
            <option value="повседневное" {{ "selected" if schedule and schedule.type == "повседневное" }}>Повседневное</option>
            <option value="исключение" {{ "selected" if schedule and schedule.type == "исключение" }}>Исключение</option>
            <option value="специальная дата" {{ "selected" if schedule and schedule.type == "специальная дата" }}>Специальная дата</option>
        </select>
    </div>

    <div id="dateTimeField" class="form-group" style="display:none;">
      <label for="datetime">Дата и время:</label>
      <input type="datetime-local" class="form-control" id="datetime" name="datetime" step="60" required>
    </div>
  
    
    <button type="submit">Сохранить</button>
</form>

<form action="{{ url_for('super_admin_page') }}" method="get">
  <button type="submit" class="btn btn-secondary">Назад</button>
</form>

<script>
  document.getElementById("scheduleType").addEventListener("change", function() {
    var value = this.value;
    var dateTimeField = document.getElementById("dateTimeField");
    var datetimeInput = document.getElementById("datetime");
    if(value == "специальная дата") {
      dateTimeField.style.display = "block";
      datetimeInput.required = true; // Делаем поле обязательным для заполнения
    } else {
      dateTimeField.style.display = "none";
      datetimeInput.required = false; // Убираем обязательность поля
    }
  });
</script>
{% endblock %}
