{% extends 'base.html' %}

{% block content %}
<h2>{{ "Редактировать" if schedule.id else "Создать новое" }} расписание</h2>
<form method="post">
    <div>
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" value="{{ schedule.name if schedule else '' }}" required>
    </div>
    <div>
        <label for="description">Описание:</label>
        <textarea id="description" name="description" required>{{ schedule.description if schedule else '' }}</textarea>
    </div>
    <div>
        <label for="type">Тип расписания:</label>
        <select id="type" name="type">
            <option value="периодическое" {{ "selected" if schedule and schedule.type == "периодическое" }}>Периодическое</option>
            <option value="исключение" {{ "selected" if schedule and schedule.type == "исключение" }}>Исключение</option>
            <option value="специальная дата" {{ "selected" if schedule and schedule.type == "специальная дата" }}>Специальная дата</option>
        </select>
    </div>
    <button type="submit">Сохранить</button>
</form>
{% endblock %}
