{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <h2>Видеогалерея</h2>
    <!-- Встроенный плеер -->
    <video id="videoPlayer" controls style="display: none;" width="100%">
        <source src="" type="video/mp4"> <!-- Источник видео будет устанавливаться через JavaScript -->
        Ваш браузер не поддерживает видео тег.
    </video>
    <!-- Встроенный аудиоплеер -->
    <audio id="audioPlayer" controls style="display: none;" width="100%">
        <source src="" type="audio/mp3"> <!-- Источник аудио будет устанавливаться через JavaScript -->
        Ваш браузер не поддерживает аудио тег.
    </audio>

    <!-- Таблица с медиафайлами -->
    <table>
        <tr>
            <th>Название</th>
            <th>Длительность</th>
            <th>Статус</th>
            <th>Теги</th>
            <th>Действия</th>
        </tr>
        {% for media in media_files %}
        <tr>
            <td><span style="{{ 'color: red;' if media.events else '' }}">{{ media.title }}</span></td>
            <td>{{ media.duration }}</td>
            <td>{{ media.status }}</td>
            <td>{{ media.tags }}</td>
            <td>
                <button onclick="playMedia('{{ url_for('static', filename='videos/' + media.filename) }}', '{{ media.filename }}')">Проиграть</button>
                <form action="{{ url_for('edit_media', media_id=media.id) }}" method="get">
                    <button type="submit">Редактировать</button>
                </form>
                <form action="{{ url_for('delete_media', media_id=media.id) }}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить этот медиафайл?');">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<form action="{{ url_for('new_media') }}" method="post" enctype="multipart/form-data">
    <button type="submit" class="btn btn-secondary">Добавить новый медиафайл</button>
</form>
<form action="{{ url_for('super_admin_page') }}" method="get">
    <button type="submit" class="btn btn-secondary">Назад</button>
</form>
<script>
function playMedia(sourceUrl, filename) {
    var videoPlayer = document.getElementById('videoPlayer');
    var audioPlayer = document.getElementById('audioPlayer');
    // Определяем тип медиа по расширению файла
    if (filename.endsWith('.mp4') || filename.endsWith('.avi')) {
        videoPlayer.src = sourceUrl;
        videoPlayer.style.display = '';
        audioPlayer.style.display = 'none';
        videoPlayer.play();
    } else if (filename.endsWith('.mp3')) {
        audioPlayer.src = sourceUrl;
        audioPlayer.style.display = '';
        videoPlayer.style.display = 'none';
        audioPlayer.play();
    }
}
</script>
{% endblock %}
